*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    background: #fafafa;
    box-shadow: inset opx -1px -0px #c5c5c6;
}

nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #333;
}

.nav-icon img {
    width: 40px;
    transform: rotate(-17deg) translate(5px);
}

.hamberger {
    display: none;
}

.navlinks-container a {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
}

/* animation soulignage actif au passage de la souris */
.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: #333;
    transition: transform 0.3s ease-out;
}

/* suite apres le passage de souris */
.navlinks-container a:hover::after {
    transform: scaleX(1);
}

.nav-authentication {
    margin-left: auto;
}

/* creation design bouton */
.signs-btns button {
    font-family: Arial flex, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 90px;
    padding: 10px 5px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

/* transparence du btn */
.signs-btns button:nth-child(2) {
    border: none;
    background: rgba(146, 195, 238, 0.718);
}

.user-toggler {
    display: none
}

img {
    width: 20px;

}